nav{
    height: 5.5rem;
}

nav span img {
    height: 3rem;
    width: 10rem;
}

#upbg{
    height: 45rem;
}

.bub{
    background-image: url("https://www.scdn.co/i/free/bubbles-mobile.svg");
    background-size: 77rem;
    background-position: center -5rem;
    justify-content: flex-start;
    padding-left: 0.5rem;
    padding-bottom: 12rem;
    
}

.smartphone{
    display: none;
}

.content{
    font-size: 4.8rem;
    text-align: left;
}

h1{
    font-size:2.8rem;
    padding:4rem 0rem 0rem 0rem;
    letter-spacing: -0.015em;
}


#b1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7rem;
}

.boxes{
    flex-direction: row;
    width: 100%;
    height: 15.5rem;
    margin-bottom: 0rem;
}

.boxes img{
    width: 11.5rem;
    margin-left: 0.5rem;
}

.boxes h2{
    padding-top: 0rem;
    text-align: left;
}

.boxtext{
    margin-left: 2rem;
    margin-bottom: 0rem;
}

.sphone{
    /* border: 1px solid red; */
    height: auto;
    width: 100%rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://www.scdn.co/i/free/bubbles-phone-mobile.svg");
    background-repeat: no-repeat;
    background-size: 50rem;
    background-position: 13rem 8rem;
}

.sbox{
    position: relative;
    height: 47rem;
    width: 23rem;
    border: solid 0.7rem white;
    border-top-width: 4.8rem;
    border-radius: 3.6rem;
    background-image: url("https://i.scdn.co/image/ab678e040000ed3ae21e83c79ebd4e3d5083bcf0");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(109, 109, 109);
}

#free{
    box-shadow: 0rem -5rem 8rem 0rem #a400ba ;
    position: relative;
    margin-top: -18rem;
    z-index: 2;
    height: 24rem;
}

#free h2{
    font-size: 3.2rem;
}

#questions h2{
    margin: 4rem;
    font-size: 2.8rem;
}

#questions article{
    /* border: 2px red solid; */
    margin: 0rem 2rem;
}

#ready{
    height: 35rem;
    background-image: linear-gradient(to top right, #c52ab9, #6c0ee0);
}

.bub2{
    background-size: 76.5rem;
    background-position: 0rem center;
}

.bub2 p {
    font-size: 4.8rem;
}

.f1{
    flex-direction: column;
    margin: 0rem 2rem;
    padding: 5rem 0rem 2rem 0rem;
    
}

.f1 img{
    height: 2.8rem;
    width: 9rem;
    margin-bottom: 4rem;
}

.f1 ul li{
    padding: 1rem 0rem;
    font-weight: 500;
    
}

.f1 ul{
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

#icons{
    margin-top: 6rem;
    padding-left: 0rem;
}

#icons .fa-instagram,.fa-twitter{
    font-size: 2.5rem;
    padding: 1rem 1.2rem;
    margin: 0rem;
    margin-right: 1rem;
}

#icons .fa-facebook-f{
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    margin: 0rem;
}

#ind p{
    font-size: 1rem;
    margin: 0rem 2rem 2rem 2rem;
}

#terms{
    font-size: 1rem;
    margin: 0rem 2rem;
    padding-bottom: 4rem;
}

